<meta name="viewport" content="width=device-width, initial-scale=1.0">

/* Import fonts */
@font-face {
  font-family: BP Dots Plus;
  src: url("https://cdn.glitch.global/b0c32e8f-e870-4f19-b91f-84cbe82439c5/BPdotsPlusBold.otf?v=1654527130880")
    format("opentype");
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media all and (max-width: 1000px) {
    .column {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 6px;
}

body {
  font-size: 11px;
  text-align: left;
  padding: 0.5em;
/*   font-family: "Gentium Basic"; */
  font-family: verdana;
  color: maroon;
}

h1 {
  font-family: Times;
  margin-bottom: 1em;
  font-size: 30px;
  font-weight: semi-bold;
  text-align: left;
  color: maroon;
}

h2{
    font-family: verdana;
    font-size: 16px;
    font-weight: normal;
}
