
* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
/* .column {
  float: left;
  width: 50%;
  padding: 10px;
} */

.column1 {
  float: left;
  width: 30%;
  padding: 10px;
}

.column2 {
  float: left;
  width: 70%;
  padding: 10px;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media all and (max-width: 400px) {
    /* .column {
        width: 100%;
    } */
      .column1 {
        width: 100%;
    }
      .column2 {
        width: 100%;
    }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 6px;
}

body {
  font-size: 0.9rem;
  text-align: left;
  padding: 0.5em;
/*   font-family: "Gentium Basic"; */
  font-family: verdana;
  color: black;
}

h1 {
  font-family: times;
  margin-bottom: 1em;
  font-size: 1.4rem;
  text-align: left;
  color: maroon;
  font-weight: normal;
}

h2{
    font-family: verdana;
    font-size: 1.2rem;
    font-weight: normal;
}

a {
  color: black;
  text-decoration: none;
}

@media screen and (max-width: 400px) {
  body {
    /* font-size: 14em; */
    overflow: auto;

  }
}


