
* {
  box-sizing: border-box;
}

.column1 {
  float: left;
  width: 30%;
}

.column2 {
  float: left;
  width: 70%;
}

/* Project page */
.column {
  float: left;
  width: 50%;
}

@media all and (max-width: 1000px) {
    .column1 {
        width: 100%;
    }
      .column {
        width: 100%;
    }
      .column2 {
        visibility: hidden;

    }
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 6px;
}

body {
  font-size: 0.6rem;
  overflow: auto;
  text-align: left;
  padding: 1em;
  font-family: verdana;
  color: maroon;
}

h1 {
  font-family: times;
  margin-top: 1.8rem;
  margin-bottom: 2.5rem;
  font-size: 1.4rem;
  text-align: left;
  color: maroon;
  font-weight: normal;
}

h2{
    font-family: times;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
}

h3{
    font-family: times;
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 1rem;
    color: #605339;
}

a {
  color: maroon;
  text-decoration: underline;
  text-decoration-color: red;
}

}
